body
{
    margin: 0;
}
.container
{
    width: 960px;
    margin: 0 auto;
    margin-top: -190px;
}

.sidebar
{
    float: left;
    width: 330px;
    margin-top: 15px;
}

.main_content
{
    float: left;
    width: 550px;
    margin-left: 60px;
    margin-top: -160px;
}

.quote
{
    margin-top: 50px;
    margin-left: 60px;
}

.qoute_text
{
    margin-top: -2px;
    margin-left: 65px;
}

.quote_main
{
    float: left;
    width: 630px;
    margin-left: 0px;
    font-family: Georgia, serif; 
    font-style: italic;
    font-size: 28px;
    color: rgb( 255, 255, 255 );
    line-height: 40px;
    line-height: 1.5;
}

.athor
{
    font-family: 'Open Sans';
    font-size: 16px;
    color: black;
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    margin-left: 20px;
    margin-top: -25px;
    font-style: normal;
}


.quotes_image
{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.photo
{
    float:left;
}

.my_photo
{
    border-radius: 5px;
}

.clearfix
{
    clear: both;
}

.container_two
{
    width: 960px;
    margin: 0 auto;
}

.container_three
{
    width: 1200px;
    margin: 0 auto;
}

.athor_list
{
    float: left;
}

.film_list
{
    float: left;
    margin-top: -3px;
    margin-bottom: auto;
}

.list_title_one
{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #15a98b;
    font-weight: 600
}

.list_title_two
{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #15a98b;
    font-weight: 600
}

.simple_list
{
    font-family: 'Georgia';
    font-size: 19px;
    color: rgb( 85, 85, 85 );
    margin-left: -17px;
    line-height: 1.9;
    margin-top: -11px;
    
}

.simple_list_two
{
    font-family: 'Georgia';
    font-size: 19px;
    color: rgb( 85, 85, 85 );
    margin-left: -17px;
    line-height: 1.9;
    margin-top: -11px;
}


.athor_list
{
    float: left;
}

.li
{
    line-height: 1.5;
}

.some_info
{
    font-size: 19px;
    font-family: "Georgia";
    color: rgb( 85, 85, 85 );
    line-height: 1.684;
    margin-top: 41px;
}

.hobby_text
{
    font-size: 19px;
    font-family: "Georgia";
    color: rgb( 85, 85, 85 );
    line-height: 1.684
}

.jane_line
{
    margin-top: -23px;
}

.big_title
{
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: rgb( 51, 51, 51 );
}

.mid_title
{
    font-size: 36px;
    font-weight: 400;
}

.second_title
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgb( 51, 51, 51 );
    margin-top: -7px;
}

.about_hobby
{
    float: left;
    width: 543px;
}

.write_to
{
    font-size: 19px;
    font-family: "Georgia";
    color: rgb( 21, 169, 139 );
    text-decoration: underline;
}

.bottom_link
{
    text-decoration: none;
}

.hobby_container
{
    font-size: 19px;
    font-family: "Georgia";
    color: rgb( 85, 85, 85 );
    line-height: 1.7;
    margin-top: -16px;
}

.write_me_container
{
    margin-top: 49px;
}

.write_arrow
{
    font-size: 19px;
    font-family: "Georgia";
    color: rgb( 21, 169, 139 );
}

.head_links
{
    width: 960px;
    margin: 0 auto;
}

.head_links a
{
    float: left;
    color: #333;
    font-family: 'Georgia';
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    padding: 9px 22px;
    text-decoration: none;
}

.head_links a:hover 
{
    background-color: #15a98c;
    color: white;
    font-weight: 400;
    text-decoration: none;
}

.background
{
    height: 400px;
    width: 100%;
    background: url("background.jpg") repeat-x ;
    margin-right: 0px;
}

.favorite_films
{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    color: rgb( 51, 51, 51 );
    font-weight: 400;
    margin-bottom: -5px;
}

.favorite_title
{
}

.film_image
{
    width: 285px;
    height: 190px;
    border-radius: 5px;
}

.first_film
{
    width: 285px;
    float: left;
}

.second_film
{
    width: 285px;
    float: left;
    margin-left: 20px;
    
}

.films_title
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.film_text
{
    font-size: 16px;
    font-family: "Georgia";
    color: rgb( 85, 85, 85 );
    line-height: 1.75;
}

.container_films
{
    margin-top: 75px;
}

.container_button
{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    width:220px;
}

.button_films
{
    padding: 14px 55px;
    background-color: #15a98c;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.button_films span
{
    color: white;
    font-family: 'Georgia';
    font-size: 19px;
}

.button_films:hover
{
    background-color: #098d72;
}

.footer_university
{
    
}

.footer_text
{
    background-color: #f5f5f5;
    width: auto;
    padding: 10px;
    text-align: center;
    color: #555;
    font-family: 'Georgia';
}

.form_centre
{
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
}
.write_form
{
    margin-left: auto;
    margin-right: auto;
    width:700px;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

//.form_centre
{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

input[type=text],
select, 
textarea
{
    margin: 0 auto;
    width: 100%;
    max-width: 536px;
}

.message
{    
}

.gender
{
    width: 100%;
}